.linha-tempo{
    height: auto;
    min-height: 2000px;
    width: 100%;
    
    padding: 100px 20px 0px 20px;

    background-color: #000613;
    border-radius: 20px;

    margin-top: 200px;

}

.linha-tempo > h1{
    font-size: 70px;
    text-align: center;
    color: rgb(174, 252, 255);
    margin-bottom: 100px;
    font-family: 'VT323', monospace;
}

.conjunto-tempo{
    width: 90%;
    height: auto;

    margin: 0px auto;

}

.linha{
    position: relative;
    width: 3px;
    height: 400px;
    background-color: white;
}

.linha::after{
    content: "< />";
    width: max-content;
    display: block;
    position: absolute;
    top: 105%;
    color: white;
    left: -0.7em;
}
.tempo{
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    height: 1000px;
}
.tempo > *{
    font-family: 'VT323', monospace;
}

.tempo:not(:first-child){
    margin-top: 40px;
}

.ano-desc{
    color: white;
    margin-left: 20px;
    font-size: 30px;
}

.img-tempo{
    width: 100%;
    height: 200px;

    background-color: gainsboro;    
    
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
}
